container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "echo \"from.contrib.auth.models import User; User.objects.create.superuser('rob', 'rtmukuchura@gmail.com', 'Django123')\"  | python manage.py"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ebdjango.settings